#upgrade_payment .header{
    font-size: 0px;
}
#upgrade_payment .header span{
    font-size: 14px;
    display: inline-block;
}
#upgrade_payment .header span:not(:last-child):after{
    content: "|";
    padding: 0 8px;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.modal-dialog{
    width: 800px;
    max-width: 90%;
}

@media (max-width: 769px) {
    .modal-dialog{
        margin: 10px  auto;
    }
    .modal-dialog .payment_method{
        height: 300px;
        overflow: auto;
    }
}